.header-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    padding: 10px 20px;
    font-family: Lato, Roboto;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    height: 23px;
    margin-right: 40px;
    cursor: pointer;
}

.resources-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-spacing {
    margin-right: 10px;
    cursor: pointer;
    transition: cursor 0.25s;
}

.item-spacing:hover {
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.582);
    transition: hover 0.25s;
}

.header-nav-text {
    padding: 7px;
    font-size: 14px;
}


.search-button {
    height: 20px;
    padding: 10px;
    cursor: pointer;
    transition: cursor 0.25s;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in {
    background-color: white;
    color: #0097a0;
    border: 1px solid #0097a0;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    height: 30px;
}
.sign-in-button {
    padding: 10px 15px;
    font-size: 14px;
}

.scaler {
    color: white;
    background-color: #0097a0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 10px;
    height: 22px;
}

.lightning-button {
    height: 24px;
    margin-right: 5px;
}

